/* This will load Tailwindcss + all the overwrite from Yearn lib */
@import '@yearn-finance/web-lib/style.next.css';

#swap {
	@apply scroll-mt-12 mb-0 md:mb-44;
}

/* 🔵 - Yearn Finance ******************************************************************************
** AppBox is the style used to make the nices animations on the home page feel nice and smooth
** A custom overwrite is required for dark/light mode
***************************************************************************************************/
.appBox {
	--x-px: calc(var(--x) * 1px);
	--y-px: calc(var(--y) * 1px);
	--opacity: var(--opacity);
	--color: hsl(var(--color-neutral-300));
	@apply relative flex aspect-video h-full w-full cursor-pointer flex-col items-center border border-neutral-300/50 p-6 shadow shadow-transparent transition-all duration-[400ms];

	&:before,
	&:after {
		@apply pointer-events-none block absolute inset-[0px] z-[-1];
		content: "";
		z-index: -1;
		opacity: var(--opacity);
		background: radial-gradient(
			1200px circle at var(--x-px) var(--y-px),
			var(--color),
			transparent 40%
		);
		transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	}
	&:before {
		@apply pointer-events-none z-[-1];
	}
}
:root.dark {
	& .appBox {
		--color: hsl(var(--color-neutral-100));
		@apply border-neutral-100/30;
	}
}

/* 🔵 - Yearn Finance ******************************************************************************
** Details and summary nice styles.
***************************************************************************************************/
details > summary {
	list-style: none;
}
details > summary::-webkit-details-marker {
	display: none;
}
details {
	@apply border-b border-neutral-300 last-of-type:border-b-0;

	& > summary {
		@apply px-4 md:px-6 py-6 md:py-8 cursor-pointer flex flex-row items-center justify-between;
	}
	
	& > summary .summary-chevron {
		@apply h-6 w-6 -rotate-90 text-neutral-900 transition-all;
	}
	&[open] > summary .summary-chevron {
		@apply rotate-0;
	}
}

/* 🔵 - Yearn Finance ******************************************************************************
** The WordWrapper css is used for the animation with the text in the header. This animation require
** letters to be splitted and a custom css is required to make it work.
***************************************************************************************************/
.wordWrapper {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
.word {
	@apply absolute text-neutral-900 font-bold text-5xl md:text-8xl uppercase text-center flex justify-center items-center w-[300px] md:w-[600px];
	opacity: 0;
}
.wordCenter {
	@apply absolute text-center flex justify-center items-center;
	opacity: 0;
}
.wordLeft {
	@apply absolute text-left flex justify-start items-center;
	opacity: 0;
}
.letter {
	display: inline-block;
	position: relative;
	float: left;
	transform: translateZ(25px);
	transform-origin: 50% 50% 25px;
}
.letter.out {
	transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
	transform: rotateX(-90deg);
}
.letter.in {
	transform: rotateX(0deg);
	transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* 🔵 - Yearn Finance ******************************************************************************
** Recharts custom css overwrite, mostly used to make the chart works with our light/dark mode
***************************************************************************************************/
.recharts-surface {
	overflow: visible;
}
.recharts-tooltip-wrapper {
	@apply !bg-neutral-100 text-neutral-900;
}
.recharts-default-tooltip {
	@apply !bg-neutral-100 text-neutral-900;
}
.recharts-cartesian-axis-line {
	stroke: hsl(var(--color-neutral-300));
}
.recharts-cartesian-axis-tick-line {
	stroke: hsl(var(--color-neutral-300));
}
.recharts-tooltip {
	@apply p-2 bg-neutral-0 flex flex-col min-w-[160px];
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}
.activeDot {
	stroke: hsl(var(--color-neutral-900));
	fill: hsl(var(--color-neutral-0));
}


/* 🔵 - Yearn Finance ******************************************************************************
** Tooltip
** In some place we need a tooltip to display some information on hover. This style controls the
** display of that tooltip.
**
** Usage:
**	<div className={'tooltip'}>
**		{'Something displayed'}
** 		<span className={'tooltiptext text-xs'}>
** 			<p>{'Tooltip content'}</p>
** 		</span>
** 	</div>
***************************************************************************************************/
.tooltip {
	@apply relative;
}
.tooltip .tooltiptext {
	@apply text-xs text-center invisible bg-neutral-0 text-neutral-900 absolute z-50 right-1 opacity-0 transition-opacity p-2;
	width: 15rem;
	top: 110%;
	margin-right: calc(-122px + 50%);
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}
.tooltip:hover .tooltiptext {
	@apply visible opacity-100;
}
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 98%;
	right: 50%;
	margin-right: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: hsl(var(--color-neutral-0)) transparent transparent transparent;
	transform: rotate(180deg);
}

.tooltip.top .tooltiptext {
	top: -105%;
	bottom: unset;
}
.tooltip.top .tooltiptext::after {
	top: 98%;
	transform: rotate(0deg);
}

/* 🔵 - Yearn Finance ******************************************************************************
** Loader
** Custom style for the loader icon
***************************************************************************************************/
.loader {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 16px 0 #fff, -16px 0 #fff;
  position: relative;
  animation: flash 1s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 12px 0 #FFF2, -12px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 12px 0 #FFF2, -12px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 12px 0 #FFF, -12px 0 #FFF2;
  }
}