/** biome-ignore-all lint/complexity/noImportantStyles: resetting css */
/* External Dependencies */
@import "@rainbow-me/rainbowkit/styles.css";
@import "./legacy.css";
@import "./public/fonts/fonts.css";
/* Tailwind CSS */
@import "tailwindcss";

@theme {
  --color-black: hsl(0 0% 0%);
  --color-white: hsl(0 0% 100%);
  --color-fallback: hsl(0 0% 80%);
  --color-red: hsl(0 100% 45%);

  --color-primary: hsl(220 95% 50%);
  --color-neutral-0: hsl(0 0% 100%);
  --color-neutral-100: hsl(0 0% 96%);
  --color-neutral-200: hsl(0 0% 92%);
  --color-neutral-300: hsl(0 0% 88%);
  --color-neutral-400: hsl(0 0% 62%);
  --color-neutral-500: hsl(0 0% 50%);
  --color-neutral-600: hsl(0 0% 36%);
  --color-neutral-700: hsl(0 0% 26%);
  --color-neutral-800: hsl(0 0% 16%);
  --color-neutral-900: hsl(0 0% 5%);

  /* Disco Salmon */
  --color-pink-50: hsl(351 100% 96%);
  --color-pink-100: hsl(351 100% 78%);
  --color-pink-200: hsl(333 98% 68%);
  --color-pink-300: hsl(326 95% 60%);
  --color-pink-400: hsl(336 83% 61%);
  --color-pink-500: hsl(350 69% 60%);
  --color-pink-600: hsl(341 59% 51%);
  --color-pink-700: hsl(332 76% 41%);
  --color-pink-800: hsl(332 81% 33%);
  --color-pink-900: hsl(332 100% 21%);

  --color-gray-300: hsl(0 0% 88%);
  --color-gray-400: hsl(0 0% 62%);
  --color-gray-500: hsl(0 0% 26%);
  --color-gray-600: hsl(0 0% 16%);
  --color-gray-700: hsl(0 0% 16%);
  --color-gray-800: hsl(0 0% 9%);
  --color-gray-900: hsl(0 0% 5%);

  /* 🔵 - Yearn Finance ******************************************************
   **	These are the splashes of color that should appear the most in your UI,
   **	and are the ones that determine the overall "look" of the site. Use
   **	these for things like primary actions, links, navigation items, icons,
   **	accent borders, or text you want to emphasize.
   **************************************************************************/
  --color-primary-100: hsl(220 100% 94%);
  --color-primary-200: hsl(220 81% 88%);
  --color-primary-500: hsl(220 95% 50%);
  --color-primary-600: hsl(220 100% 44%);
  --color-accent-500: hsl(220 95% 50%);
  --color-accent-600: hsl(220 100% 44%);

  /* 🔵 - Yearn Finance
  /* These colors should be used fairly conservatively throughout your UI to
  avoid overpowering your primary colors. Use them when you need an
  element to stand out, or to reinforce things like error states or
  positive trends with the appropriate semantic color.
  **************************************************************************/
  --color-red-900: hsl(0 100% 45%);
  --color-red-300: hsl(0 100% 95%);
  --color-red-200: hsl(0 100% 90%);

  --color-blue-500: hsl(220 95% 50%);
  --color-blue-800: hsl(230 93% 38%);
  --color-blue-900: hsl(231 100% 11%);
  --color-steel-gray-500: hsl(218 14% 71%);
  --color-light-blue-500: hsl(220 100% 67%);
  --default-rounded: 0rem;

  /* Custom Font Sizes */
  --text-xxs: 0.625rem; /* 10px */
  --text-xxs--line-height: 1rem; /* 16px */
  --text-2xl: 1.5rem; /* 24px */
  --text-2xl--line-height: 2rem; /* 32px */
  --text-3xl: 2rem; /* 32px */
  --text-3xl--line-height: 2.5rem; /* 40px */
  --text-7xl: 4rem; /* 64px */
  --text-7xl--line-height: 4.5rem; /* 72px */
  --text-8xl: 5.5rem; /* 88px */
  --text-8xl--line-height: 6.5rem; /* 104px */
}

@layer theme {
  .dark {
    --color-primary: hsl(220 95% 50%);
    --color-neutral-900: hsl(0 0% 100%);
    --color-neutral-800: hsl(0 0% 96%);
    --color-neutral-700: hsl(0 0% 92%);
    --color-neutral-600: hsl(0 0% 88%);
    --color-neutral-500: hsl(0 0% 62%);
    --color-neutral-400: hsl(0 0% 50%);
    --color-neutral-300: hsl(0 0% 36%);
    --color-neutral-200: hsl(0 0% 26%);
    --color-neutral-100: hsl(0 0% 16%);
    --color-neutral-0: hsl(0 0% 5%);
  }

  .v3 {
    --color-primary: hsl(220 95% 50%);
    --color-neutral-900: hsl(0 0% 96%);
    --color-neutral-800: hsl(0 0% 96%);
    --color-neutral-700: hsl(0 0% 92%);
    --color-neutral-600: hsl(0 0% 88%);
    --color-neutral-500: hsl(0 0% 62%);
    --color-neutral-400: hsl(0 0% 50%);
    --color-neutral-300: hsl(231 51% 19%);
    --color-neutral-200: hsl(242 54% 27%);
    --color-neutral-100: hsl(231 100% 11%);
    --color-neutral-0: hsl(231 100% 6%);
  }
}

html {
  overflow: auto !important;
  padding-right: 0 !important;
}

body {
  color: var(--color-neutral-900);
}

#main {
  @apply flex flex-col w-full h-full min-h-screen bg-neutral-0;
}

@layer utilities {
  .font-number {
    font-family:
      "Aeonik Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@layer components {
  [role="button"],
  button {
    @apply cursor-pointer;
  }
}
