NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_RPC_URL=https://ethereum-rpc.publicnode.com
NEXT_PUBLIC_BASE_YEARN_ASSETS_URI=https://cdn.jsdelivr.net/gh/yearn/tokenassets@main
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=yearn.fi
NEXT_PUBLIC_PLAUSIBLE_TRACK_LOCALHOST=false
